body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222020;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #f9f9f9;
    margin-top: 20px;
}

a button {
    background-color: #851ec1fb;
    color: #f9f9f9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

a button:hover {
    background-color:#681a96fb;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px; 
    margin: 10px;
}

li {
    background-color: #f9f9f9d4;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33.333% - 10px);
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

li .text-content {
    flex: 1; 
    text-align: center; 
    margin-bottom: 20px;
}

strong {
    color: #851ec1fb;
}

form button {
    background-color: #ad2836;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: end;
}

form button:hover {
    background-color: #c82333;
}