<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VivaEvents</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/letter_e.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <h1>VivaEvents</h1>
    
    <a href="{% url 'add_event' %}"><button>Adicionar Evento</button></a>

    <ul>
        {% for evento in eventos %}
            <li>
                <div class="text-content">
                    <strong>Título:</strong> {{ evento.titulo }}<br>
                    <strong>Tipo:</strong> {{ evento.tipo }}<br>
                    <strong>Data de Início:</strong> {{ evento.data_inicio }}<br>
                    {% if evento.data_fim %}
                        <strong>Data de Término:</strong> {{ evento.data_fim }}<br>
                    {% endif %}
                    <strong>Local:</strong> {{ evento.local }}<br>
                    <strong>Cidade:</strong> {{ evento.cidade }}<br>
                    <strong>Valor:</strong>
                    {% if evento.gratuito %}
                        Gratuito
                    {% else %}
                        R$ {{ evento.valor }}
                    {% endif %}<br>
                    <strong>Vagas:</strong>
                    {% if evento.vagas_ilimitadas %}
                        Ilimitadas
                    {% else %}
                        {{ evento.quantidade_vagas }}
                    {% endif %}
                </div>
                <form action="{% url 'delete_event' evento.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>